@import url('https://fonts.googleapis.com/css?family=Exo:700,400');

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial, sans-serif';
    line-height: 1.5;
    background: #ffffff;
    color: #000;
}

.li1234{
  color: #293b91;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    padding: 0 0 0 5rem;
    margin-left: 0.5%;

}

#logo {
    max-width: 175px;
    
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 3rem;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: x-large;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;

    padding-top:  0;

    width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .d-flex{
      flex-direction: column;
      margin: 20px;
      align-items: center;
      text-align: center;
    }
    .img123, .img124 {
      display:block;
      width:80%;
      height: auto;

  }


}




@media (min-width: 768px) {


  .img123, .img124 {
    display:block;
    width:80%;
    height: auto;
    margin-left: 50px;
}


}







@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
  background: #fff;
}

.title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

.wrapper {
  animation: scroll 100s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  color: #eee;
  height: 50vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -400%;
  }
}

/* Fallback if the operating system prefers reduced motion */
@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 800s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 3.5rem;
  }
}
.newsletter-form{
  display: flex;
}

.abtheading {
    font-family: "Headland One", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    color: #242425;
    background-color: rgb(100, 147, 249);
    padding-bottom: 1%;
    padding-top: 1%;
}

.alex{
  background-color: rgb(255, 169, 133);
  padding-top: 4%;
  padding-bottom: 4%;
}

.heading2{
    font-family: 'Arial, sans-serif'f;
    font-weight: 700;
    font-size: 40px;
    color: #0f69ff;
    text-align: center;
}

.headpara {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 500;
  font-style: normal;    font-size: 26px;
    color: #010101;
    text-align: start;
    
}

.img123, .img124 {
    max-width: 100%;
    height: auto;
    
}

.helx4{
  font-family: "Anek Devanagari", sans-serif;
    font-weight: 500;
    font-size: 50px;
    color:#010101 ;
    background-color:rgb(100, 147, 249) ;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;

}
.hel {
  background-color: rgb(255, 169, 133);
}

.comit{
  font-family: 'Arial, sans-serif'f;
    font-weight: 500;
    font-size: 15px;
    text-align:justify;
}

.ps-3{
  text-align: justify;
  padding: 0 5rem 0 8rem;
  margin-left: 10px;
}

/* cards2 */


.cards2{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 0%;
  padding-right: 0%;
}

.gal-card{
  background-color:  #212529;
}

.gal-card {
  overflow: hidden;
}

img {
  transition: transform 0.25s;
}

.gal-card:hover img {
  transform: scale(1.1);
}

.card-title{
  text-align: center;
}

.card-title1{
  color: #DDDDDD;
}


.abtheading1{
  font-family: "Headland One", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  background-color: rgb(100, 147, 249);
  color: #2a2828;
  padding-bottom: 10px;
  margin-top: 4%;
}

.hel{
  margin-top: 4%;
}

#cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 600px; 
  transition: transform 0.25s;

}

.card-body {
  text-align: center;
}

.cardf{
  font-size: 1.5rem;
  font-weight: bold;
}

.cardt{
  font-size: 1rem;
}

.card:hover {
  transform: scale(1.05);
}


footer{
  width: 100%;
  background-color:  #38393a;

}